@mixin generate-border-classes($color, $color-code) {
  $left-amount: 12.5%;

  @if $color == white or $color == dark {
    $left-amount: 25%;
  }

 .#{$color}-border-bottom:before {
   background: #{$color-code};
   bottom: -9px;
   content: '';
   height: 2px;
   left: #{$left-amount};
   margin: auto;
   position: absolute;
   width: 50%;
   z-index: 1;
 }
}

@include generate-border-classes(white, #F5F5F5);
@include generate-border-classes(dark, #404040);
@include generate-border-classes(red, #990000);
@include generate-border-classes(green, #009900);
@include generate-border-classes(blue, #000099);
@include generate-border-classes(yellow, #999900);
